.buildingTypeSelector {
    display: flex;
    flex-direction: column;
    width: 40vw;
}

@media (max-width: 732px) {
    .buildingTypeSelector {
        display: flex;
        flex-direction: column;
        width: 90vw;
    }
  }
  