.tableContainer {
    margin: auto;
    width: 80%;
    height: 50vw;

    font-size: 1.5vw;
}

.remineTable {
    width: 100%;
    height: 100%;
    padding: 0;
}

.remineTableHead {
    width: 100%;
    display: flex;
    flex-flow: row;

    font-weight: bold;

    align-content: space-around;
    justify-content: center;

    border-top: 1px solid black;
}

.remineTableHead div {
    width: 25%;
    padding: 0;
    margin: 0;
}

.remineTableBody {
    width: 100%;
    height: 100%;
}

.remineTableBody {
    margin-left: 5px;
    border-bottom: 1px solid black;
    margin-bottom: 100px;
}

.cell-item {
    width: 25%;
    border: 1px solid black;
}

@media (max-width: 732px) {
    .tableContainer {
        width: 90%;
        height: 60vw;
        font-size: 2.8vw;
    }

    .remineTableHead {
        margin-bottom: 2vw;
        padding-top: 2vw;

        font-size: 2.7vw;
    }
    
}